.title{
    font-size: 21pt;
    text-align: center;
    height: 38px;
    margin-top: 147px;
}

.description{
    font-size: 10pt;
    text-align: center;
    height: 18px;
    margin-top: 10px;
}

body {
    background-color: aqua;
}

div{
    text-align: center;
    display: grid;
}

.activator {
    background-color: #f44336;
    border: none;
    height: 17px;
    width: 150px;
    font-size: 12pt;
    border: 2px solid black;
}

.activator:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}