.title{
    font-size: 21pt;
    text-align: center;
    height: 29px;
    margin-top: 147px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.description{
    font-size: 10pt;
    text-align: center;
    height: 18px;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: aqua;
}

.activator {
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
    top: 250px;
    left: 50%;
    background-color: #f44336;
    border: none;
    height: 23px;
    width: 150px;
    font-size: 12pt;
    border: 2px solid black;
}

.activator:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}






.topnav {
     background-color: #333;
     overflow: hidden;
}
   
.topnav a {
     float: left;
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topnav div:not(.dropdown-content){
     float: left;
}
.topnav a:hover, .topnav button:hover {
     background-color: #ddd;
     color: black;
}
   
a.active, button.active.dropdown-button{
     background-color: #04AA6D;
     color: white;
}
.dropdown {
     float: left;
     overflow: hidden;
   }
   
   .dropdown .dropdown-button {
     font-size: 16px;  
     border: none;
     outline: none;
     color: white;
     padding: 14px 16px;
     background-color: inherit;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     margin: 0;
   }
   
   .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   }
   
   .dropdown-content a {
     float: none;
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
     z-index: 2;
   }
   
   .dropdown-content a:hover {
     background-color: #ddd;
   }
   
   .dropdown:hover .dropdown-content {
     display: block;
   }
div.content {
    display: none;
     margin-left: 0px;
     padding: 1px 16px;
     height: 1000px;
     z-index: 1;
}

/* Main content */

h1{
     text-align: center;
     font-size: 30px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbars{
     display: none;
}